.addtodo{
    display: flex;
    justify-content: center;
    text-align: center;
}
.todo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.todo-item{
    word-wrap: break-word;
    word-break: break-all;
}
.todo-bold{
    font-weight: 600;
}