
  <mat-card>
    <mat-card-content>
      <div class="my-3 common-color">
        <h5 [ngClass]="{'strike': !todo.active}">{{todo.title}}</h5>    
        <p [ngClass]="{'strike': !todo.active}">{{todo.desc}}</p>   
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="todocheck{{id}}" (click)="Oncheckbox(todo)" [checked]="!todo.active">
            <label class="form-check-label" for="todocheck{{id}}">Mark As Done</label>
          </div>
        <button mat-raised-button class="btn" (click)="delitem(todo)">Delete</button> 
    </div>
    </mat-card-content>
  </mat-card>