<div class="my-3">
    <h4>ADD TODO</h4>
<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Todo Title</label>
      <input type="text" class="form-control" name="title" id="title" [(ngModel)]="title" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Todo Description</label>
      <input type="text" class="form-control" name="desc" id="desc" [(ngModel)]="desc">
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Add Todo</button>
  </form>
</div>
<!--  checkthis erroronmorning 
RROR RuntimeError: NG01352: If ngModel is used within a form tag, either the name attribute must be set or the form
    control must be defined as 'standalone' in ngModelOptions.

    Example 1: <input [(ngModel)]="person.firstName" name="first">
    Example 2: <input [(ngModel)]="person.firstName" [ngModelOptions]="{standalone: true}"> -->