/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/cyan-orange.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.common-color{
    color: #00FFFF;
}
.common-title{
    color: #008080;
    margin-top: 20px !important;
    margin-bottom: 50px !important;
    justify-content: center !important;
    text-align: center;
    font-size: 4em !important;
    font-weight: 900 !important;
}
.common-subtitle{
    color: #006D6F;
    padding: 12px;
}
.common-subheading{
    color: #F0FFFF;
    padding-top: 10px;
    font-weight: 200 !important;
}